<div class="card deep-purple lighten-3">
  <div class="card-content white-text">
    <h3> Curriculum Details</h3>

    <p>
      <strong>Name:</strong>
      <%= @curriculum.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @curriculum.description %>
    </p>

    <p>
      <strong>Ratings:</strong>
      <%= @curriculum.min_rating == 0 ? "Unrated" : @curriculum.min_rating %> - <%= @curriculum.max_rating %>
    </p>


<p>
  <strong>Active:</strong>
  <%= @curriculum.active ? "Yes" : "No" %>
</p>
<% if can? :edit, Curriculum %>
    <%= link_to 'Edit', edit_curriculum_path(@curriculum), :class=>"btn waves-effect waves-light deep-purple lighten-2" %>
<% end %>
<%= link_to 'Back', curriculums_path, :class=>"btn waves-effect waves-light deep-purple lighten-2" %>
</div>
</div>