<% if @active_camps.empty? %>
  <h3>There are no camps in the system at this time</h3>
<% else %>
  <h3>Active Camps</h3>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>Time Slot</th>
      <th>Max Students</th>
      <th>Remaining Slots</th>
      <% if can? :edit, Camp %>
      <th class="align_center">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @active_camps.active.each do |camp| %>
      <tr>
        <td><%= link_to camp.curriculum.name, camp %></td>
        <td><%= camp.start_date.strftime("%m/%d/%y") %></td>
        <td><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
        <td><%= camp.max_students %></td>
        <td><%= camp.max_students - camp.registrations.count %></td>
        <td class="align_center">
        <% if can? :edit, Camp %>
            <%= link_to edit_camp_path(camp) do %>
              <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
        <% end %>
        </td>
    <% end %>
  </tbody>
</table>


<% end %>
<div class="col s12 center">
<span class="paginate">
  <%= will_paginate @active_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'active_camps' %>
</span>
</div>
