<div id="form-template">

  <!-- create an empty camp instructor object to work with -->
  <% @registration = Registration.new %>
  <!-- now the form template itself -->
  <div class="row">
    <div class="col">
      <h5>New Registration:</h5>
      <%= simple_form_for(@registration) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-inputs">
            <% if logged_in? && (Family.where(user_id:current_user.id).empty? == false)%>
              <%= f.input :student_id, collection: Student.active.where(id: Family.where(user_id: current_user.id).first.students.select{|a| a.rating >= Camp.where(id:@camp.id).first.curriculum.min_rating && a.rating <= Camp.where(id:@camp.id).first.curriculum.max_rating}.map{|a| a.id}).where.not(id:Camp.where(id:@camp.id).map{|a| a.students.ids}.flatten), include_blank: true %>
            <% end %>
            <%= f.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
          </div>
        </div>
        <div class="row">
          <div class="form-actions col s8">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>