<% if @inactive_camps.empty? %>
  <h4>There are no inactive camps at this time.</h4>
<% else %>
  <h3>Inactive Camps</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>Time Slot</th>
      <th>Max Students</th>
      <th>Remaining Slots</th>
      <% if can? :edit, Camp %>
      <th class="align_center">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @inactive_camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.curriculum.name, camp %></td>
        <td><%= camp.start_date.strftime("%m/%d/%y") %></td>
        <td><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
        <td><%= camp.max_students %></td>
        <td><%= camp.max_students - camp.registrations.count %></td>
        <td class="align_center">
        <% if can? :edit, Camp %>
            <%= link_to edit_camp_path(camp) do %>
              <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<span class="paginate">
  <%= will_paginate @inactive_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'inactive_camps' %>
</span>