<p id="notice"><%= notice %></p>

<% if @instructors.empty? %>
  <h3>There are no instructors in the system at this time</h3>
<% else %>
  <%= render :partial => "partials/title_with_search", locals: {title: "Instructors"} %>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Camps</th>
      <th class="align_center">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= link_to instructor.name, instructor %></td>
        <td><%= number_to_phone instructor.phone %></td>
        <td><%= instructor.camps.size %></td>
        <td class="align_center">
          <% if can? :edit, instructor %>
            <%= link_to edit_instructor_path(instructor) do %>
              <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
  <%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'instructors' %>
</span>

    <% end %>

<% if can? :new, Instructor %>
  <%= link_to(eval("new_instructor_path"), :class=>"btn waves-effect waves-light blue") do %>
  <!-- <i class="fa fa-plus"></i> -->
  &nbsp;Add a New <%= Instructor %>
  <% end %>
<% end %>

