<div id="footer" class="center-align">
  <div class="container">
    <div class="row">
      <%= link_to 'Home', home_path, :class => "white-text text-lighten-1" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'About the Chess Camp', about_path, :class => "white-text text-lighten-1" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Contact Us', contact_path, :class => "white-text text-lighten-1" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Privacy Policy', privacy_path, :class => "white-text text-lighten-1" %>
      <br /><br />
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Webmaster: <%= mail_to("a@example.com", "Joshua Huang", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2018
    </div>
  </div>
</footer>
