<div class="row">
  <div class="col s12 center">
  <% if @cart_regs.nil? || @cart_regs.empty? %>
    <h3>You have no registrations in your cart.</h3>
  <% else %>
    <h4>Shopping Cart Items</h4>
    <table class="striped highlight">
      <thead>
          <th>Camp</th>
          <th>Student </th>
          <th>Start Date</th>
          <th>Time Slot</th>
          <th>Remaining Slots</th>
          <th>Cost </th>
          <th class="align_center">Options</th>
      </thead>
      <% for ob in @obs_regs %>
        <tr>
          <td><%= link_to ob[0].first.name, ob[0].first %></td>
          <td><%= link_to ob[1].first.name, ob[1].first %></td>
          <td><%= ob[0].first.start_date.strftime("%m/%d/%y") %></td>
          <td><%= ob[0].first.time_slot == "am" ? "Morning" : "Afternoon" %></td>
          <td><%= ob[0].first.max_students - ob[0].first.registrations.count %></td>
          <td><%= "$ #{ob[0].first.cost}" %></td>
            <td class="align_center">
            <%= link_to(remove_item_path(ob[0].first, ob[1].first), method: :delete, data: { confirm: 'Are you sure you wish to delete this registration?' }) do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
</br>
</br>
<div class="col s12">
<h5><%= "Subtotal: $#{@tot} "%></h5>
</div>
<div class="col s12 center">
<%# if session[:cart].size > 0  %> 
  <%# <div class="card-action"> %>
    <%# link_to "Proceed to Checkout", checkout_cart_url(), class: "btn" %>
  <%# </div> %>
<%# end %>
</div>
<a class="btn waves-effect waves-light deep-purple lighten-2 modal-trigger" href="#modal1">Checkout</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= form_tag checkout_cart_url, method: :get do %>
        <h5>Credit Card Number</h5>
        <%= text_field_tag :credit_card_number %><br />
        <h5>Expiration Year</h5>
        <%= text_field_tag :expiration_year %><br />
        <h5>Expiration Month</h5>
        <%= text_field_tag :expiration_month %><br />
        <%= submit_tag "Checkout", :class => 'btn waves-effect waves-light deep-purple lighten-2'%>
      <% end %>
    </div>
  </div>

<p class="supertiny"></p>
<br /><%# will_paginate @obs_regs, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next"%>
<p>&nbsp;</p>
<% end %>
