<h3> Pain points in the Chess Camp</h3>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test7">Camps without Registrations</a></li>
      <li class="tab col s3"><a href="#test10">Camps without Instructors</a></li>
      <li class="tab col s3"><a href="#test8">Poor Locations</a></li>
      <li class="tab col s3"><a href="#test9">Best Customers</a></li>
    </ul>
  </div>
  <div id="test7" class="col s12">
    <%= render :partial => "camps_list", locals: {camps: @s_camps} %>
  </div>
  <div id="test10" class="col s12">
    <%= render :partial => "camps_list2", locals: {camps: @r_camps} %>
  </div>
  <div id="test8" class="col s12">
    <%= render :partial => "locations_list", locals: {locations: @s_locations, counts: @counts} %>
  </div>
  <div id="test9" class="col s12">
    <%= render :partial => "customers_list", locals: {customers: @fams, counts: @rcounts} %>
  </div>
</div>


</br>
<h3> Health of Business </h3>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test11">Monthly Revenue</a></li>
      <li class="tab col s3"><a href="#test12">Curriculum Distribution</a></li>
      <li class="tab col s3"><a href="#test13">Instructor by Popularity</a></li>
    </ul>
  </div>
  <div id="test11" class="col s12">
    <%= column_chart @revs, colors: ["#74a9cf"] %>
  </div>
  <div id="test12" class="col s12">
    <h5> Registrations By Curriculum </h5>
    <%= pie_chart @cregs, colors: ["#0570b0","#74a9cf","#bdc9e1", "#f1eef6"] %>
  </div>
  <div id="test13" class="col s12">
    <h5> Registrations By Curriculum </h5>
    <%= bar_chart @icnts, colors: ["#74a9cf"]%>
  </div>
</div>

<p>&nbsp;</p>

