<h4>Best Customers</h4>

<% if customers.nil? || customers.empty? %>
  <p>You have no paying customers at this time.</p>
<% else %>

  <table class="striped highlight">
    <thead>
      <th>Parent Name</th>
      <th>Number of Students</th>
      <th>Number of Registrations</th>
      <th class="align_center">Options</th>
    </thead>
    <% for customer in customers %>
      <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <% if counts.values.sort.reverse.uniq{|a| a}.first(2).include?(counts[customer.id])%>
          <td><%= link_to "#{customer.parent_first_name} #{customer.family_name}", customer %></td>
          <td><%= customer.students.size %></td>
          <td><%= counts[customer.id] %></td>
          <td class="align_center">
            <% if can? :edit, customer %>
              <%= link_to edit_family_path(customer) do %>
                    <i class="material-icons">edit</i>
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp; 
              <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%# will_paginate @fams, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>

