<div id="tabbed">
  <tabs>
    <tab name="active students" v-bind:selected="true">
      <%= render :partial => "students_list", locals: {students: @active_students, state: 'active'} %>
    </tab>
    <tab name="inactive students">
      <%= render :partial => "students_list", locals: {students: @inactive_students, state: 'inactive'} %>
    </tab>
    <tab name="Upcoming Registered Camps">
      <%= render :partial => "registrations_list", locals: {regs: @reg_camps2, state: 'inactive'} %>
    </tab>
    <tab name="Upcoming Registered Camps">
      <%= render :partial => "p_camps_list", locals: {camps: @upcoming_camps, state: 'inactive'} %>
    </tab>
  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'student'} %>