<div class="row">
  <div class="col s12 center">
    <% unless logged_in? %>
      <h2 id="headline">Chess Camps for Your Kids!!<!-- Learn chess the right way. --></h2>
    <% else %>
      <h2 id="headline">Welcome to A&amp;M Chess Camp !<!-- Learn chess the right way. --></h2>
    <% end %>
    <% unless logged_in? && current_user.role?(:admin) %>
      <p>The A&amp;M Chess Camp (named after the founders, Alex and Mark Heimann) is one of the <b>premiere chess camps</b> for youth this side of the Mississippi. Our instructors have years of experience playing and love to share their <b>wisdom</b> and <b>enthusiasm</b> for the game with students of all levels.</p>
      <p>Prospective students and parents should feel free to browse through our catalogue of <%= link_to "upcoming camps", camps_path %>. Unfortunately, we have not yet finished our online registration portal. So, should a camp pique your interest, please contact us <%= link_to "here", contact_path %> and we will begin assiting you with your registration as soon as possible. Thank you!</p>
    <% else %>
      <h3 id="headline">Welcome to your Admin Dashboard</h3>
      <% if logged_in? && current_user.role?(:admin) %>
        <%= render :partial => "admin_p"%>
      <% end %>
    <% end %>
  </div>
  <div class="col s12 center">
    <% if logged_in? && current_user.role?(:parent) %>
      <% if (Family.where(user_id: current_user.id).empty? == false) %>
        <%= render :partial => "parent_p"%>
      <% else %>
        <h4> Create a <%= link_to "Family", new_family_path(user_id: current_user.id) %> to add Students </h4>
      <% end %>
    <% elsif logged_in? && current_user.role?(:instructor)%>
      <%= render :partial => "instructor_p"%>
    <% end %>
  </div>
</div>