  <div class="row">

  <div class= "col s12">
  <p id="notice"><%= notice %></p>
  <h3><%= state %> Locations</h3>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Max Capacity</th>
        <% if can? :edit, Location %>
        <th class="align_center">Options</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% locations.each do |location| %>
        <tr>
          <td><%= link_to location.name, location %></td>
          <td><%= render :partial => "partials/address_info", locals: {location: location} %></td>
          <td><%= location.max_capacity %></td>
          <td class="align_center">
          <% if can? :edit, Location %>
            <%= link_to edit_location_path(location) do %>
              <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span class="paginate">
    <%= will_paginate locations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>